<a href="#top" id="toTop"></a>
    
</div> <!-- /container -->
<footer class="main-footer">
	<div class="copyright">
		<div class="container">
	        <div class="row">
	            <div class="col-sm-12">
	                <span>Copyright © <a href="http://www.shihaiguanggao.com/">陕西世海广告有限公司</a></span> | 
	                <span><a href="http://www.miibeian.gov.cn/" target="_blank">陕ICP备11008151号</a></span> | 
	                <span>陕公网安备11010802014853</span>
	            </div>
	        </div>
	    </div>
	</div>
	
    
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/jquery.scrollToTop.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__PUBLIC__/Home/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<!-- <script src="__PUBLIC__/Home/js/My97DatePicker/WdatePicker.js"></script> -->
<script src="__PUBLIC__/Home/js/ie10-viewport-bug-workaround.js"></script>
<script src="__PUBLIC__/Home/js/offcanvas.js"></script>

<script src="__PUBLIC__/Home/js/mysite.js"></script>
</body>
</html>
