      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{$data.name}</h4>
      </div>
      <div class="modal-body">
          <h5><small>{$data.post_time|date="Y-m-d H:m:s",###}&nbsp;&nbsp;{$data.post_man}</small></h5>
        <p>{$data.content|htmlspecialchars_decode}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>